# Importando Clientes

In [1]:
spark

Starting Spark application

SparkSession available as 'spark'.
<pyspark.sql.session.SparkSession object at 0x7fcb81570d90>

In [2]:
rdd_clients = spark.read.format(
   "com.databricks.spark.csv").option(
   "header", "true").option(
   "inferSchema", "true").option(
   "delimiter", ',').load(
   's3://treinamento-big-data/clients.csv')
rdd_clients.count()

25

In [3]:
# Verificando Metadados da tabela
rdd_clients.printSchema()

root
 |-- client_id: integer (nullable = true)
 |-- joined: timestamp (nullable = true)
 |-- income: integer (nullable = true)
 |-- credit_score: integer (nullable = true)

In [4]:
# Verificando 20 linhas da tabela
rdd_clients.show()

+---------+-------------------+------+------------+
|client_id|             joined|income|credit_score|
+---------+-------------------+------+------------+
|    46109|2002-04-16 00:00:00|172677|         527|
|    49545|2007-11-14 00:00:00|104564|         770|
|    41480|2013-03-11 00:00:00|122607|         585|
|    46180|2001-11-06 00:00:00| 43851|         562|
|    25707|2006-10-06 00:00:00|211422|         621|
|    39505|2011-10-14 00:00:00|153873|         610|
|    32726|2006-05-01 00:00:00|235705|         730|
|    35089|2010-03-01 00:00:00|131176|         771|
|    35214|2003-08-08 00:00:00| 95849|         696|
|    48177|2008-06-09 00:00:00|190632|         769|
|    26326|2004-05-06 00:00:00|227920|         633|
|    42320|2000-04-27 00:00:00|229481|         563|
|    32961|2009-04-07 00:00:00|230341|         714|
|    29841|2002-08-17 00:00:00| 38354|         523|
|    44601|2004-10-20 00:00:00|156341|         518|
|    32885|2002-05-13 00:00:00| 58955|         642|
|    49068|2004-02-12 00:00:00|128813|         603|
|    44387|2009-07-14 00:00:00|151903|         781|
|    39384|2000-06-18 00:00:00|191204|         617|
|    26695|2004-08-27 00:00:00|174532|         680|
+---------+-------------------+------+------------+
only showing top 20 rows

In [5]:
rdd_payments = spark.read.format(
   "com.databricks.spark.csv").option(
   "header", "true").option(
   "inferSchema", "true").option(
   "delimiter", ',').load(
   's3://treinamento-big-data/payments.csv')
   
rdd_payments.count()

3456

In [6]:
rdd_payments.printSchema()

root
 |-- loan_id: integer (nullable = true)
 |-- payment_amount: integer (nullable = true)
 |-- payment_date: timestamp (nullable = true)
 |-- missed: integer (nullable = true)

In [7]:
rdd_payments.show()

+-------+--------------+-------------------+------+
|loan_id|payment_amount|       payment_date|missed|
+-------+--------------+-------------------+------+
|  10243|          2369|2002-05-31 00:00:00|     1|
|  10243|          2439|2002-06-18 00:00:00|     1|
|  10243|          2662|2002-06-29 00:00:00|     0|
|  10243|          2268|2002-07-20 00:00:00|     0|
|  10243|          2027|2002-07-31 00:00:00|     1|
|  10243|          2243|2002-09-16 00:00:00|     1|
|  10984|          1466|2003-12-29 00:00:00|     0|
|  10984|          1887|2004-02-01 00:00:00|     1|
|  10984|          1360|2004-03-09 00:00:00|     1|
|  10984|          1350|2004-03-29 00:00:00|     0|
|  10984|          1728|2004-05-03 00:00:00|     1|
|  10990|          1981|2006-04-05 00:00:00|     0|
|  10990|          2284|2006-04-27 00:00:00|     1|
|  10990|          1304|2006-05-12 00:00:00|     0|
|  10990|          2253|2006-06-05 00:00:00|     1|
|  10990|          2453|2006-07-17 00:00:00|     0|
|  10990|          1903|2006-07-30 00:00:00|     0|
|  10596|          1612|2011-01-25 00:00:00|     0|
|  10596|          1499|2011-03-09 00:00:00|     1|
|  10596|          1414|2011-04-10 00:00:00|     1|
+-------+--------------+-------------------+------+
only showing top 20 rows

In [8]:
rdd_loan = spark.read.format(
   "com.databricks.spark.csv").option(
   "header", "true").option(
   "inferSchema", "true").option(
   "delimiter", ',').load(
   's3://treinamento-big-data/loans.csv')
rdd_loan.count()

443

In [9]:
rdd_loan.printSchema()

root
 |-- client_id: integer (nullable = true)
 |-- loan_type: string (nullable = true)
 |-- loan_amount: integer (nullable = true)
 |-- repaid: integer (nullable = true)
 |-- loan_id: integer (nullable = true)
 |-- loan_start: timestamp (nullable = true)
 |-- loan_end: timestamp (nullable = true)
 |-- rate: double (nullable = true)

In [10]:
rdd_loan.show()

+---------+---------+-----------+------+-------+-------------------+-------------------+----+
|client_id|loan_type|loan_amount|repaid|loan_id|         loan_start|           loan_end|rate|
+---------+---------+-----------+------+-------+-------------------+-------------------+----+
|    46109|     home|      13672|     0|  10243|2002-04-16 00:00:00|2003-12-20 00:00:00|2.15|
|    46109|   credit|       9794|     0|  10984|2003-10-21 00:00:00|2005-07-17 00:00:00|1.25|
|    46109|     home|      12734|     1|  10990|2006-02-01 00:00:00|2007-07-05 00:00:00|0.68|
|    46109|     cash|      12518|     1|  10596|2010-12-08 00:00:00|2013-05-05 00:00:00|1.24|
|    46109|   credit|      14049|     1|  11415|2010-07-07 00:00:00|2012-05-21 00:00:00|3.13|
|    46109|     home|       6935|     0|  11501|2006-09-17 00:00:00|2008-11-26 00:00:00|1.94|
|    46109|     cash|       6177|     1|  11141|2007-03-12 00:00:00|2009-04-26 00:00:00|9.48|
|    46109|     home|      12656|     0|  11658|2006-05-26 00:00:00|2007-10-15 00:00:00|4.14|
|    46109|     home|      11062|     1|  11611|2012-09-12 00:00:00|2014-03-14 00:00:00|5.48|
|    46109|    other|       4050|     1|  10828|2003-12-06 00:00:00|2005-08-19 00:00:00|4.26|
|    46109|    other|       1618|     0|  11661|2006-08-28 00:00:00|2009-04-23 00:00:00|6.49|
|    46109|     home|       8406|     0|  11259|2011-10-22 00:00:00|2013-06-11 00:00:00| 0.5|
|    46109|     cash|       9057|     1|  10856|2005-06-17 00:00:00|2007-03-01 00:00:00|0.86|
|    46109|   credit|       3524|     0|  11867|2005-09-18 00:00:00|2007-08-27 00:00:00|5.98|
|    46109|    other|      10853|     0|  11961|2013-11-26 00:00:00|2015-08-06 00:00:00|2.82|
|    46109|   credit|       7339|     1|  10328|2001-09-24 00:00:00|2003-08-31 00:00:00|1.29|
|    46109|   credit|      11953|     1|  11307|2013-05-15 00:00:00|2015-03-15 00:00:00| 3.3|
|    46109|    other|      10067|     1|  10422|2004-04-05 00:00:00|2006-10-13 00:00:00|3.12|
|    46109|   credit|      12009|     0|  11424|2001-03-25 00:00:00|2003-10-04 00:00:00|0.79|
|    46109|   credit|        559|     1|  10599|2008-02-15 00:00:00|2009-11-25 00:00:00|4.15|
+---------+---------+-----------+------+-------+-------------------+-------------------+----+
only showing top 20 rows

# Registrando tabela para uso no Hive(SQL) - somente na sessÃ£o

In [44]:
payments_dfm = rdd_payments.registerTempTable("payments_dfm")
clients_dfm = rdd_clients.registerTempTable("clients_dfm")
loans_dfm = rdd_loan.registerTempTable("loans_dfm")

In [12]:
spark.sql(
             """SELECT 
                    *,
                    cast(loan_start as date) as DT_INICIO,
                    cast(loan_end as date) as DT_FIM,
                    datediff(cast(loan_end as date),cast(loan_start as date)) as QT_DIAS_START_END,
                    round(datediff(cast(loan_end as date),cast(loan_start as date))/30.5) as QT_MESES_START_END,
                    round(datediff(cast(loan_end as date),cast(loan_start as date))/365) as QT_ANOS_START_END
                FROM
                    loans_dfm 
                WHERE 
                    client_id = 46109 and loan_type in ('home') 
                order by cast(loan_start as date)    
             """
         ).show()

+---------+---------+-----------+------+-------+-------------------+-------------------+----+----------+----------+-----------------+------------------+-----------------+
|client_id|loan_type|loan_amount|repaid|loan_id|         loan_start|           loan_end|rate| DT_INICIO|    DT_FIM|QT_DIAS_START_END|QT_MESES_START_END|QT_ANOS_START_END|
+---------+---------+-----------+------+-------+-------------------+-------------------+----+----------+----------+-----------------+------------------+-----------------+
|    46109|     home|      13672|     0|  10243|2002-04-16 00:00:00|2003-12-20 00:00:00|2.15|2002-04-16|2003-12-20|              613|                20|              2.0|
|    46109|     home|      12734|     1|  10990|2006-02-01 00:00:00|2007-07-05 00:00:00|0.68|2006-02-01|2007-07-05|              519|                17|              1.0|
|    46109|     home|      12656|     0|  11658|2006-05-26 00:00:00|2007-10-15 00:00:00|4.14|2006-05-26|2007-10-15|              507|                17|              1.0|
|    46109|     home|       6935|     0|  11501|2006-09-17 00:00:00|2008-11-26 00:00:00|1.94|2006-09-17|2008-11-26|              801|                26|              2.0|
|    46109|     home|       8406|     0|  11259|2011-10-22 00:00:00|2013-06-11 00:00:00| 0.5|2011-10-22|2013-06-11|              598|                20|              2.0|
|    46109|     home|      11062|     1|  11611|2012-09-12 00:00:00|2014-03-14 00:00:00|5.48|2012-09-12|2014-03-14|              548|                18|              2.0|
+---------+---------+-----------+------+-------+-------------------+-------------------+----+----------+----------+-----------------+------------------+-----------------+

In [13]:
spark.sql(
             """SELECT 
                    *,
                    cast(payment_date as date ) as DT_PGTO
                    --min(payment_date) as DT_PRIMEIRO_PAGAMENTO,
                    --max(payment_date) as DT_ULTIMO_PAGAMENTO,
                FROM
                    payments_dfm 
                WHERE 
                    loan_id = 10243 
             """
         ).show()

+-------+--------------+-------------------+------+----------+
|loan_id|payment_amount|       payment_date|missed|   DT_PGTO|
+-------+--------------+-------------------+------+----------+
|  10243|          2369|2002-05-31 00:00:00|     1|2002-05-31|
|  10243|          2439|2002-06-18 00:00:00|     1|2002-06-18|
|  10243|          2662|2002-06-29 00:00:00|     0|2002-06-29|
|  10243|          2268|2002-07-20 00:00:00|     0|2002-07-20|
|  10243|          2027|2002-07-31 00:00:00|     1|2002-07-31|
|  10243|          2243|2002-09-16 00:00:00|     1|2002-09-16|
+-------+--------------+-------------------+------+----------+

In [14]:
spark.sql(
             """SELECT
                    loan_id,
                    sum(case when missed = 1 then 0 else payment_amount end) as VL_PGTO_MISS,
                    sum(case when missed = 0 then 0 else payment_amount end) as VL_PGTO_NOT_MISS,
                    sum(payment_amount) as VL_TOT,
                    cast(min(payment_date) as date) as DT_PRIMEIRO_PAGAMENTO,
                    cast(max(payment_date) as date) as DT_ULTIMO_PAGAMENTO,
                    count(*) as QT_PGTOS
                FROM
                    payments_dfm 
                WHERE 
                    loan_id = 10243
                GROUP BY  
                    loan_id
             """
         ).show()

+-------+------------+----------------+------+---------------------+-------------------+--------+
|loan_id|VL_PGTO_MISS|VL_PGTO_NOT_MISS|VL_TOT|DT_PRIMEIRO_PAGAMENTO|DT_ULTIMO_PAGAMENTO|QT_PGTOS|
+-------+------------+----------------+------+---------------------+-------------------+--------+
|  10243|        4930|            9078| 14008|           2002-05-31|         2002-09-16|       6|
+-------+------------+----------------+------+---------------------+-------------------+--------+

In [15]:
clients_00 = spark.sql(
                     """SELECT 
                            *,
                            round(log(income),4) as VL_LOG_RENDA,
                            cast(joined as date) as DT_JOINED,
                            substr(cast(joined as date),6,2) as VL_MES_JOINED
                        FROM
                            clients_dfm                     
                     """
                     )
clients_00_dfm = clients_00.registerTempTable("clients_00_dfm")                     
clients_00.show()

+---------+-------------------+------+------------+------------+----------+-------------+
|client_id|             joined|income|credit_score|VL_LOG_RENDA| DT_JOINED|VL_MES_JOINED|
+---------+-------------------+------+------------+------------+----------+-------------+
|    46109|2002-04-16 00:00:00|172677|         527|     12.0592|2002-04-16|           04|
|    49545|2007-11-14 00:00:00|104564|         770|     11.5576|2007-11-14|           11|
|    41480|2013-03-11 00:00:00|122607|         585|     11.7167|2013-03-11|           03|
|    46180|2001-11-06 00:00:00| 43851|         562|     10.6886|2001-11-06|           11|
|    25707|2006-10-06 00:00:00|211422|         621|     12.2616|2006-10-06|           10|
|    39505|2011-10-14 00:00:00|153873|         610|     11.9439|2011-10-14|           10|
|    32726|2006-05-01 00:00:00|235705|         730|     12.3703|2006-05-01|           05|
|    35089|2010-03-01 00:00:00|131176|         771|     11.7843|2010-03-01|           03|
|    35214|2003-08-08 00:00:00| 95849|         696|     11.4705|2003-08-08|           08|
|    48177|2008-06-09 00:00:00|190632|         769|     12.1581|2008-06-09|           06|
|    26326|2004-05-06 00:00:00|227920|         633|     12.3367|2004-05-06|           05|
|    42320|2000-04-27 00:00:00|229481|         563|     12.3436|2000-04-27|           04|
|    32961|2009-04-07 00:00:00|230341|         714|     12.3473|2009-04-07|           04|
|    29841|2002-08-17 00:00:00| 38354|         523|     10.5546|2002-08-17|           08|
|    44601|2004-10-20 00:00:00|156341|         518|     11.9598|2004-10-20|           10|
|    32885|2002-05-13 00:00:00| 58955|         642|     10.9845|2002-05-13|           05|
|    49068|2004-02-12 00:00:00|128813|         603|     11.7661|2004-02-12|           02|
|    44387|2009-07-14 00:00:00|151903|         781|      11.931|2009-07-14|           07|
|    39384|2000-06-18 00:00:00|191204|         617|     12.1611|2000-06-18|           06|
|    26695|2004-08-27 00:00:00|174532|         680|     12.0699|2004-08-27|           08|
+---------+-------------------+------+------------+------------+----------+-------------+
only showing top 20 rows

In [16]:
loans_00 = spark.sql(
                     """SELECT 
                            client_id,
                            round(avg(loan_amount),4) as VL_MED_EMP_CLI,
                            min(loan_amount) as VL_MIN_EMP_CLI,
                            max(loan_amount) as VL_MAX_EMP_CLI
                        FROM
                            loans_dfm  
                        group by client_id     
                     """
                     )
loans_00_dfm = loans_00.registerTempTable("loans_00_dfm")                         
loans_00.show(5)

+---------+--------------+--------------+--------------+
|client_id|VL_MED_EMP_CLI|VL_MIN_EMP_CLI|VL_MAX_EMP_CLI|
+---------+--------------+--------------+--------------+
|    35214|     7173.5556|           667|         14767|
|    44601|       6869.25|          1221|         14104|
|    26945|     7125.9333|           653|         14593|
|    49545|       10289.3|          3851|         14971|
|    49624|     9174.5333|          2361|         14679|
+---------+--------------+--------------+--------------+
only showing top 5 rows

In [17]:
clientes_01 = spark.sql(
                     """SELECT 
                            a.*,
                            b.VL_MED_EMP_CLI,
                            b.VL_MIN_EMP_CLI,
                            b.VL_MAX_EMP_CLI
                        FROM
                            clients_00_dfm as a  
                        left join  loans_00_dfm as b
                        on a.client_id = b.client_id
                     """
                     )
                     
clientes_01.show()

+---------+-------------------+------+------------+------------+----------+-------------+--------------+--------------+--------------+
|client_id|             joined|income|credit_score|VL_LOG_RENDA| DT_JOINED|VL_MES_JOINED|VL_MED_EMP_CLI|VL_MIN_EMP_CLI|VL_MAX_EMP_CLI|
+---------+-------------------+------+------------+------------+----------+-------------+--------------+--------------+--------------+
|    46109|2002-04-16 00:00:00|172677|         527|     12.0592|2002-04-16|           04|        8951.6|           559|         14049|
|    49545|2007-11-14 00:00:00|104564|         770|     11.5576|2007-11-14|           11|       10289.3|          3851|         14971|
|    41480|2013-03-11 00:00:00|122607|         585|     11.7167|2013-03-11|           03|       7894.85|           811|         14399|
|    46180|2001-11-06 00:00:00| 43851|         562|     10.6886|2001-11-06|           11|       7700.85|          1607|         14081|
|    25707|2006-10-06 00:00:00|211422|         621|     12.2616|2006-10-06|           10|       7963.95|          1212|         13913|
|    39505|2011-10-14 00:00:00|153873|         610|     11.9439|2011-10-14|           10|       7424.05|           904|         14575|
|    32726|2006-05-01 00:00:00|235705|         730|     12.3703|2006-05-01|           05|     6633.2632|           851|         14802|
|    35089|2010-03-01 00:00:00|131176|         771|     11.7843|2010-03-01|           03|        6939.2|           773|         13194|
|    35214|2003-08-08 00:00:00| 95849|         696|     11.4705|2003-08-08|           08|     7173.5556|           667|         14767|
|    48177|2008-06-09 00:00:00|190632|         769|     12.1581|2008-06-09|           06|     7424.3684|           659|         14740|
|    26326|2004-05-06 00:00:00|227920|         633|     12.3367|2004-05-06|           05|     7270.0625|          1164|         13464|
|    42320|2000-04-27 00:00:00|229481|         563|     12.3436|2000-04-27|           04|     7062.0667|          1070|         13887|
|    32961|2009-04-07 00:00:00|230341|         714|     12.3473|2009-04-07|           04|     7882.2353|          1693|         14784|
|    29841|2002-08-17 00:00:00| 38354|         523|     10.5546|2002-08-17|           08|        9813.0|          2778|         14837|
|    44601|2004-10-20 00:00:00|156341|         518|     11.9598|2004-10-20|           10|       6869.25|          1221|         14104|
|    32885|2002-05-13 00:00:00| 58955|         642|     10.9845|2002-05-13|           05|        9920.4|          3704|         14162|
|    49068|2004-02-12 00:00:00|128813|         603|     11.7661|2004-02-12|           02|     7617.8889|          1447|         13910|
|    44387|2009-07-14 00:00:00|151903|         781|      11.931|2009-07-14|           07|     7387.7333|           765|         14900|
|    39384|2000-06-18 00:00:00|191204|         617|     12.1611|2000-06-18|           06|     7865.4737|          1770|         14654|
|    26695|2004-08-27 00:00:00|174532|         680|     12.0699|2004-08-27|           08|     7824.7222|          2389|         14865|
+---------+-------------------+------+------------+------------+----------+-------------+--------------+--------------+--------------+
only showing top 20 rows

In [18]:
loans_02 = spark.sql(
                     """SELECT 
                            a.*,
                            b.payment_amount,
                            b.payment_date,
                            b.missed
                        FROM
                            loans_dfm as a  
                        left join  payments_dfm as b
                        on a.loan_id = b.loan_id
                     """
                     )
loans_02_dfm = loans_02.registerTempTable("loans_02_dfm")                       
loans_02.show()

+---------+---------+-----------+------+-------+-------------------+-------------------+----+--------------+-------------------+------+
|client_id|loan_type|loan_amount|repaid|loan_id|         loan_start|           loan_end|rate|payment_amount|       payment_date|missed|
+---------+---------+-----------+------+-------+-------------------+-------------------+----+--------------+-------------------+------+
|    46109|     home|      13672|     0|  10243|2002-04-16 00:00:00|2003-12-20 00:00:00|2.15|          2243|2002-09-16 00:00:00|     1|
|    46109|     home|      13672|     0|  10243|2002-04-16 00:00:00|2003-12-20 00:00:00|2.15|          2027|2002-07-31 00:00:00|     1|
|    46109|     home|      13672|     0|  10243|2002-04-16 00:00:00|2003-12-20 00:00:00|2.15|          2268|2002-07-20 00:00:00|     0|
|    46109|     home|      13672|     0|  10243|2002-04-16 00:00:00|2003-12-20 00:00:00|2.15|          2662|2002-06-29 00:00:00|     0|
|    46109|     home|      13672|     0|  10243|2002-04-16 00:00:00|2003-12-20 00:00:00|2.15|          2439|2002-06-18 00:00:00|     1|
|    46109|     home|      13672|     0|  10243|2002-04-16 00:00:00|2003-12-20 00:00:00|2.15|          2369|2002-05-31 00:00:00|     1|
|    46109|   credit|       9794|     0|  10984|2003-10-21 00:00:00|2005-07-17 00:00:00|1.25|          1728|2004-05-03 00:00:00|     1|
|    46109|   credit|       9794|     0|  10984|2003-10-21 00:00:00|2005-07-17 00:00:00|1.25|          1350|2004-03-29 00:00:00|     0|
|    46109|   credit|       9794|     0|  10984|2003-10-21 00:00:00|2005-07-17 00:00:00|1.25|          1360|2004-03-09 00:00:00|     1|
|    46109|   credit|       9794|     0|  10984|2003-10-21 00:00:00|2005-07-17 00:00:00|1.25|          1887|2004-02-01 00:00:00|     1|
|    46109|   credit|       9794|     0|  10984|2003-10-21 00:00:00|2005-07-17 00:00:00|1.25|          1466|2003-12-29 00:00:00|     0|
|    46109|     home|      12734|     1|  10990|2006-02-01 00:00:00|2007-07-05 00:00:00|0.68|          1903|2006-07-30 00:00:00|     0|
|    46109|     home|      12734|     1|  10990|2006-02-01 00:00:00|2007-07-05 00:00:00|0.68|          2453|2006-07-17 00:00:00|     0|
|    46109|     home|      12734|     1|  10990|2006-02-01 00:00:00|2007-07-05 00:00:00|0.68|          2253|2006-06-05 00:00:00|     1|
|    46109|     home|      12734|     1|  10990|2006-02-01 00:00:00|2007-07-05 00:00:00|0.68|          1304|2006-05-12 00:00:00|     0|
|    46109|     home|      12734|     1|  10990|2006-02-01 00:00:00|2007-07-05 00:00:00|0.68|          2284|2006-04-27 00:00:00|     1|
|    46109|     home|      12734|     1|  10990|2006-02-01 00:00:00|2007-07-05 00:00:00|0.68|          1981|2006-04-05 00:00:00|     0|
|    46109|     cash|      12518|     1|  10596|2010-12-08 00:00:00|2013-05-05 00:00:00|1.24|          1904|2011-06-05 00:00:00|     1|
|    46109|     cash|      12518|     1|  10596|2010-12-08 00:00:00|2013-05-05 00:00:00|1.24|          1252|2011-04-25 00:00:00|     1|
|    46109|     cash|      12518|     1|  10596|2010-12-08 00:00:00|2013-05-05 00:00:00|1.24|          1414|2011-04-10 00:00:00|     1|
+---------+---------+-----------+------+-------+-------------------+-------------------+----+--------------+-------------------+------+
only showing top 20 rows

In [19]:
loans_03 = spark.sql(
                     """SELECT 
                            loan_type,
                            round(avg(payment_amount),2) as VL_MED_PAGAMENTOS,
                            count(*) as QT_CONTRATOS_TIPO
                        FROM
                            loans_02_dfm 
                        group by 1  
                     """
                     )
loans_03_dfm = loans_03.registerTempTable("loans_03_dfm")                       
loans_03.show()

+---------+-----------------+-----------------+
|loan_type|VL_MED_PAGAMENTOS|QT_CONTRATOS_TIPO|
+---------+-----------------+-----------------+
|     cash|          1193.27|              824|
|    other|           1238.5|              807|
|     home|          1195.86|              981|
|   credit|          1189.83|              844|
+---------+-----------------+-----------------+

In [20]:
loans_04 = spark.sql(
                     """SELECT 
                            client_id,
                            sum(case when loan_type in ('cash') then 1 else 0 end) as QT_EMP_CASH,
                            avg(case when loan_type in ('cash') then loan_amount else 0 end) as VL_MEDEMP_CASH,
                            count(*) as QT_CONTRATOS_TIPO
                        FROM
                            loans_02_dfm 
                        group by 1  
                     """
                     )
loans_04_dfm = loans_04.registerTempTable("loans_04_dfm")                       
loans_04.show()

+---------+-----------+------------------+-----------------+
|client_id|QT_EMP_CASH|    VL_MEDEMP_CASH|QT_CONTRATOS_TIPO|
+---------+-----------+------------------+-----------------+
|    35214|         29| 1818.367469879518|              166|
|    44601|         26| 932.4615384615385|              156|
|    26945|         11| 883.2053571428571|              112|
|    49545|         41|2411.3350785340313|              191|
|    49624|         20| 2235.940594059406|              101|
|    46109|         21| 1308.241134751773|              141|
|    42320|         42|3107.3083333333334|              120|
|    32726|         14|1153.5099337748345|              151|
|    29841|         31|1749.7733333333333|              150|
|    49068|         83|3630.6241610738257|              149|
|    41480|         33|1595.3245033112582|              151|
|    38537|         23|1569.7967479674796|              123|
|    32961|         32| 1076.854961832061|              131|
|    32885|         38|3582.5652173913045|              115|
|    25707|         34|1799.2298136645963|              161|
|    39505|         43|1913.2781456953642|              151|
|    39384|         54|3114.3356164383563|              146|
|    46958|         16|            1221.0|               92|
|    26695|         22|1185.4779411764705|              136|
|    35089|         29| 936.3207547169811|              159|
+---------+-----------+------------------+-----------------+
only showing top 20 rows

In [21]:
import time
from datetime import datetime
from datetime import date, timedelta
dataref = datetime.now()-timedelta(0, 0, 0, 0, 0, +2)
anomesdia = dataref.strftime("%Y%m%d")
dataref
#print('Data Hoje: ',dataref.strftime("%Y%m%d"))

datetime.datetime(2020, 1, 20, 11, 37, 20, 76318)

In [22]:
etl_final = spark.sql(
                     """SELECT 
                            *,
                            '{}' as PK_DATREF
                        FROM
                            loans_04_dfm 
                     """.format(anomesdia)
                     )
             
etl_final.show()

+---------+-----------+------------------+-----------------+---------+
|client_id|QT_EMP_CASH|    VL_MEDEMP_CASH|QT_CONTRATOS_TIPO|PK_DATREF|
+---------+-----------+------------------+-----------------+---------+
|    35214|         29| 1818.367469879518|              166| 20200120|
|    44601|         26| 932.4615384615385|              156| 20200120|
|    26945|         11| 883.2053571428571|              112| 20200120|
|    49545|         41|2411.3350785340313|              191| 20200120|
|    49624|         20| 2235.940594059406|              101| 20200120|
|    46109|         21| 1308.241134751773|              141| 20200120|
|    42320|         42|3107.3083333333334|              120| 20200120|
|    32726|         14|1153.5099337748345|              151| 20200120|
|    29841|         31|1749.7733333333333|              150| 20200120|
|    49068|         83|3630.6241610738257|              149| 20200120|
|    41480|         33|1595.3245033112582|              151| 20200120|
|    38537|         23|1569.7967479674796|              123| 20200120|
|    32961|         32| 1076.854961832061|              131| 20200120|
|    32885|         38|3582.5652173913045|              115| 20200120|
|    25707|         34|1799.2298136645963|              161| 20200120|
|    39505|         43|1913.2781456953642|              151| 20200120|
|    39384|         54|3114.3356164383563|              146| 20200120|
|    46958|         16|            1221.0|               92| 20200120|
|    26695|         22|1185.4779411764705|              136| 20200120|
|    35089|         29| 936.3207547169811|              159| 20200120|
+---------+-----------+------------------+-----------------+---------+
only showing top 20 rows

In [30]:
etl_final.count()

25

In [34]:
etl_final.write.parquet("etl_final_00.parquet")
# Verificar os arquivos no sistema hdfs:
# hdfs dfs -ls /user/zeppelin
# hdfs dfs -ls /user/livy

u'path hdfs://ip-172-31-0-128.ec2.internal:8020/user/livy/etl_final_00.parquet already exists.;'
Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 843, in parquet
    self._jwrite.parquet(path)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 69, in deco
    raise AnalysisException(s.split(': ', 1)[1], stackTrace)
AnalysisException: u'path hdfs://ip-172-31-0-128.ec2.internal:8020/user/livy/etl_final_00.parquet already exists.;'

In [49]:
from pyspark.sql import HiveContext
hive_context = HiveContext(sc)

# Salvando a tabela como temporÃ¡ria no Hive
#hive_context.registerDataFrameAsTable(etl_final, "etl_final_00")

# Salvando a tabela no schema (database) treinamento como permanente do Hive (modo append)
etl_final.write.mode('append').saveAsTable("default.etl_final_00")
hive_context.sql("show tables in default").show()
#hive_context.sql("drop table etl_final_00").show()
#hive_context.sql("drop table etl_final_01").show()

+--------+------------+-----------+
|database|   tableName|isTemporary|
+--------+------------+-----------+
| default|etl_final_00|      false|
|        | clients_dfm|       true|
|        |   loans_dfm|       true|
|        |payments_dfm|       true|
+--------+------------+-----------+

In [45]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
+------------+

In [35]:
spark.catalog.dropTempView("clients_00_dfm") 
spark.catalog.dropTempView("clients_dfm") 
spark.catalog.dropTempView("loans_00_dfm") 
spark.catalog.dropTempView("loans_02_dfm") 
spark.catalog.dropTempView("loans_03_dfm") 
spark.catalog.dropTempView("loans_04_dfm") 
spark.catalog.dropTempView("loans_dfm") 
spark.catalog.dropTempView("payments_dfm")

In [36]:
hive_context.sql("show tables in default").show()

+--------+------------+-----------+
|database|   tableName|isTemporary|
+--------+------------+-----------+
| default|etl_final_00|      false|
+--------+------------+-----------+

In [39]:
tab_hive = hive_context.sql("select * from default.etl_final_00").show()

+---------+-----------+------------------+-----------------+---------+
|client_id|QT_EMP_CASH|    VL_MEDEMP_CASH|QT_CONTRATOS_TIPO|PK_DATREF|
+---------+-----------+------------------+-----------------+---------+
|    35214|         29| 1818.367469879518|              166| 20200120|
|    44601|         26| 932.4615384615385|              156| 20200120|
|    35214|         29| 1818.367469879518|              166| 20200120|
|    44601|         26| 932.4615384615385|              156| 20200120|
|    26945|         11| 883.2053571428571|              112| 20200120|
|    26945|         11| 883.2053571428571|              112| 20200120|
|    49545|         41|2411.3350785340313|              191| 20200120|
|    49545|         41|2411.3350785340313|              191| 20200120|
|    49624|         20| 2235.940594059406|              101| 20200120|
|    49624|         20| 2235.940594059406|              101| 20200120|
|    46109|         21| 1308.241134751773|              141| 20200120|
|    46109|         21| 1308.241134751773|              141| 20200120|
|    42320|         42|3107.3083333333334|              120| 20200120|
|    42320|         42|3107.3083333333334|              120| 20200120|
|    32726|         14|1153.5099337748345|              151| 20200120|
|    32726|         14|1153.5099337748345|              151| 20200120|
|    29841|         31|1749.7733333333333|              150| 20200120|
|    29841|         31|1749.7733333333333|              150| 20200120|
|    49068|         83|3630.6241610738257|              149| 20200120|
|    49068|         83|3630.6241610738257|              149| 20200120|
+---------+-----------+------------------+-----------------+---------+
only showing top 20 rows

In [40]:
# Salvando a tabela no schema (database) treinamento como permanente do Hive (modo append) particionado
etl_final.write.mode('append').partitionBy('PK_DATREF').saveAsTable("default.etl_final_01")

hive_context.sql("show tables in default").show()

+--------+------------+-----------+
|database|   tableName|isTemporary|
+--------+------------+-----------+
| default|etl_final_00|      false|
| default|etl_final_01|      false|
+--------+------------+-----------+

In [41]:
# Ler partiÃ§Ã£o Hive
df_hive_parquet = sqlContext.read.option("mergeSchema", "true").parquet("/user/hive/warehouse/etl_final_01/PK_DATREF=20200120")
df_hive_parquet.count()

25

In [42]:
df_hive_parquet.show()

+---------+-----------+------------------+-----------------+
|client_id|QT_EMP_CASH|    VL_MEDEMP_CASH|QT_CONTRATOS_TIPO|
+---------+-----------+------------------+-----------------+
|    35214|         29| 1818.367469879518|              166|
|    44601|         26| 932.4615384615385|              156|
|    26945|         11| 883.2053571428571|              112|
|    49545|         41|2411.3350785340313|              191|
|    49624|         20| 2235.940594059406|              101|
|    46109|         21| 1308.241134751773|              141|
|    42320|         42|3107.3083333333334|              120|
|    32726|         14|1153.5099337748345|              151|
|    29841|         31|1749.7733333333333|              150|
|    49068|         83|3630.6241610738257|              149|
|    41480|         33|1595.3245033112582|              151|
|    38537|         23|1569.7967479674796|              123|
|    32961|         32| 1076.854961832061|              131|
|    32885|         38|3582.5652173913045|              115|
|    25707|         34|1799.2298136645963|              161|
|    39505|         43|1913.2781456953642|              151|
|    39384|         54|3114.3356164383563|              146|
|    46958|         16|            1221.0|               92|
|    26695|         22|1185.4779411764705|              136|
|    35089|         29| 936.3207547169811|              159|
+---------+-----------+------------------+-----------------+
only showing top 20 rows

In [43]:
nm_path_s3 = 's3://treinamento-big-data/'
Tabela='UserEJL'+anomesdia
etl_final.write.partitionBy('PK_DATREF').parquet(nm_path_s3 + Tabela , mode='append')

In [ ]:
print('ExercÃ­cio')
#Metadados:
#PK_CLIENTE
#Valor medio, minimo e maximo de contratos por tipo de emprestimo
#Valor mÃ©dio pago por tipo de emprÃ©stimo
#Valor mÃ©dio nÃ£o pago por tipo emprÃ©stimo
#DuraÃ§Ã£o (meses) mÃ©dia dos contratos 
#Quantidade mÃ©dia de pagamentos